Source: libcontrail-vrouter-java-api
Section: java
Priority: optional
Maintainer: OpenContrail developers <dev@lists.opencontrail.org>
Build-Depends: debhelper (>= 9), javahelper
Standards-Version: 3.9.3
Homepage: https://github.com/tungstenfabric/tf-java-api

Package: libcontrail-vrouter-java-api
Architecture: all
Depends: ${java:Depends}, ${misc:Depends}
Description: Contrail vRouter API Java Library
 This is contrail-vrouter Java API bindings.
